
.custom-navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0.1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.custom-navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.custom-navbar-homepage {
  color: #fff;
}

.custom-navbar-homepage.custom-navbar-brand{
  display: none;
}

.custom-navbar-homepage:hover, .custom-navbar-homepage:active {
  color: $neon-blue;
}

.custom-navbar-not-homepage {
  color: rgba($theme-color, 1);
}

.custom-navbar-not-homepage:hover, .custom-navbar-not-homepage:active {
  color: darken($theme-color, 10%);
}

.logo-homepage {
  max-height: 40px;
  margin: 0 0.3rem 0 0;
}

.logo-not-homepage {
  max-height: 35px;
  margin: 0 0.3rem 0 0;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  font-weight: 500;
}