$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #00a8ff !default;
$indigo: #3f51b5 !default;
$purple: #9c88ff !default;
$pink: #e91e63 !default;
$red: #c23616 !default;
$orange: #e84118 !default;
$yellow: #fbc531 !default;
$green: #4cd137 !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

$theme-color: #3D91F9;
$theme-accent: #18dcff;

$text-color: #353b48;


$bg: #3D91F9;
$light-gray: #c8d6e5;
$neon-blue: #18dcff;
$wintergreen: #32ff7e;

$darker-green: #84df75;
$lighter-green: #c1efba;