.code-area {
  width: 65vw;
  padding: 15px;
  margin: 15px;
  background-color: #3f3f3f;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.code-result {
  margin: 15px;
  width: 65vw;
  padding: 15px;
  background-color: #3f3f3f;
  color: #66d9ef;
  border: 0;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
