
.badge-primary {
color: #fff;
}
.hero .btn-lg {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.brand-title {
  color: #fff;
  text-align: left;
  margin-bottom: 3rem;

}

.screenshot-hero {
  margin: 0;
}