
.text-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}
.row-container {
    margin: 3rem;
}



.header {
    margin-top: 1rem;
    margin-bottom: 1rem
}

