
.comparison-table > div {
  height: 2rem;
  border-top: 1px solid #dee2e6;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.comparison-table > div > * {
  display: table-cell;
  vertical-align: middle;
}

.comparison-table > div:nth-child(1) {
  font-weight: bold;
  border-top: 0px;


}

.comparison-table > div > div:nth-child(1) {
  letter-spacing: 0.1rem;
  color: #78838e;
}

.comparison-table > div > div:nth-child(2) {
  text-align: left;
  word-break: break-word;
}

.comparison-table > div:last-child {
  border-bottom: 1px solid #dee2e6;
}

.comparison-table {
  margin: 2rem 15vw;
  background: #f5f5f5;
  padding: 1rem;
}