// Utils
@import 'utils/colors';

// Fonts
@import 'fonts/fonts';

// Vendors
@import 'vendors/custom-bootstrap';


//Components
@import 'components/custom-navbar';
@import 'components/explore';
@import 'components/index-advantages';
@import 'components/tx-page';
@import 'components/why-moneypot';
@import 'components/hero';
@import 'components/fees';
//Layout
@import 'layout/code-area';
@import 'layout/layout';


